{{#partial banner }}
<p>You are logged in as <code>{{ account_id }}</code>.</p>
<form method="post" action="/logout/">
    <input type="submit" class="pure-button button-small pure-button-primary" value="Log out" />
</form>
{{/partial}}
{{# partial "content" }}
{{#if apps}}
<section>
<h2>Connected apps</h2>

<ul id="applist">
{{#each apps}}
<li class=clearfix>
    <a class="app-name" href="{{client_id}}">{{client_id}}</a>
    <form method="post">
        <input type="hidden" name="client_id" value="{{ client_id }}" />
        <input type="hidden" name="action" value="delete_app" />
        <input type="submit" class="pure-button button-small delete-app" value="Disconnect" />
    </form>
{{/each}}
</ul>
</section>

<h2>Adding new apps</h2>
{{else}}
<p>You haven't connected any apps yet!</p>
{{/if}}


<p>Use <code>{{ account_id }}</code> to connect
<a href="https://remotestorage.io/">remoteStorage</a>-compatible apps to your
storage, such as:</p>

<ul>
    <li><a href="https://sharesome.5apps.com/">Sharesome</a></li>
    <li><a href="https://webmarks.5apps.com/">Webmarks</a></li>
    <li><a href="https://unterwaditzer.net/taskrs/">Taskrs</a></li>
    <li><a href="https://remotestorage-browser.5apps.com/">remoteStorage Browser</a></li>
    <li><a href="https://wiki.remotestorage.io/Apps"><i>More apps&hellip;</i></a></li>
</ul>

{{/partial}}

{{> layout}}
