{{#partial banner }}
<p>You are logged in as <code>{{ account_id }}</code>.</p>
<form method="post" action="/logout/">
    <input type="submit" class="pure-button button-small" value="Log out" />
</form>
{{/partial}}
{{# partial "content" }}
{{#if sessions}}
<h2>Connected apps</h2>

<ul id="applist">
    {{#each sessions}}
    <li>
        <form method="post">
            <input type="hidden" name="token" value="{{ token }}" />
            <input type="hidden" name="action" value="delete_token" />
            <input type="submit" class="pure-button button-small delete-token" value="Disconnect" />
        </form>
        <h3><a class="app-name" href="{{uri}}">{{uri}}</a></h3>
        {{#block show-permissions}}{{/block}}
        <small>{{#if last_used}}Last used: {{last_used}}{{else}}Never used{{/if}}</small>
    </li>
    {{/each}}
</ul>

<h2>Adding new apps</h2>
{{else}}
<p>You haven't connected any apps yet!</p>
{{/if}}


<p>Use <code>{{ account_id }}</code> to connect
<a href="https://remotestorage.io/">remoteStorage</a>-compatible apps to your
storage, such as:</p>

<ul>
    <li><a href="https://sharesome.5apps.com/">Sharesome</a></li>
    <li><a href="https://webmarks.5apps.com/">Webmarks</a></li>
    <li><a href="https://unterwaditzer.net/taskrs/">Taskrs</a></li>
    <li><a href="https://remotestorage-browser.5apps.com/">remoteStorage Browser</a></li>
    <li><a href="https://wiki.remotestorage.io/Apps"><i>More apps&hellip;</i></a></li>
</ul>

{{/partial}}

{{> layout}}
