{{#partial show-app }}
<img class="app-icon" src="/dashboard/icon?url={{client_id}}" width=72 height=72 />
<div class="app-text">
    <a class="app-name" href="{{client_id}}">{{client_id}}</a>

    {{#if permissions}}
    <ul class="permissions">
    {{#each permissions }}
    <li>
        {{#if @key}}<code>{{@key}}</code>{{else}}Everything{{/if}} &ndash;
        {{#if can_write}}Read and write{{else}}Read (but not write){{/if}}
    </li>
    {{/each}}
    </ul>
    {{/if}}
</div>
{{/partial}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{#block "title"}}Mysteryshack{{/block}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="icon" href="/static/logo.svg" />
        <link rel="stylesheet" href="/static/pure-min.css" />
        <link rel="stylesheet" href="/static/app.css" />

        {{#block "head"}}{{/block}}

        <!-- Security stuff -->

        <meta name="referrer" content="origin" />
        <!-- https://cdn.elie.net/publications/busting-frame-busting-a-study-of-clickjacking-vulnerabilities-on-popular-sites.pdf -->
        <!-- This violates our CSP, but browsers that need this framebreaker don't support CSP -->
        <style>
            html { display: none; }
        </style>
        <script>
            if(self == top) {
                document.documentElement.style.display = 'block';
            } else {
                top.location = self.location;
            }
        </script>
    </head>
    <body>
        <header id="header">
            {{#block "header" }}
            <h1><a id=logo href="/">Mysteryshack</a></h1>
            {{/block}}
        </header>

        <div id="banner"><div>{{#block banner}}{{/block}}</div></div>

        <div id="content">
            {{#block "content" }}
            {{/block}}
        </div>

        <footer id="footer">
            {{#block "footer" }}
            <p><small>Powered by <a href="https://github.com/untitaker/mysteryshack">mysteryshack</a></small></p>
            {{/block}}
        </footer>
    </body>
</html>
